<section class="block">
  <header class="block__header">
    <h2 class="block__heading">What our Customers are Saying</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum esse culpa
    </p>
  </header>
  <div class="container">
    <article class="card testimonial">
      <div class="grid grid--col-2">
        <div class="testimonial__img">
          <img src="/images/testimonial.jpg" alt="" />
          <span class="icon-container icon-container--accent">
            <svg class="icon">
              <use xlink:href="images/sprite.svg#quotes"></use>
            </svg>
          </span>
        </div>

        <div class="card__content">
          <blockquote class="quote">
            <p class="quote__text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione
              consectetur odio in voluptatem ducimus eveniet architecto unde
              quidem quasi ullam quas magnam sunt vel, qui incidunt. Consectetur
              assumenda quisquam reiciendis! Vitae ipsa odio asperiores
              accusantium.
            </p>
            <footer class="quote__footer">
              <article class="media">
                <div class="media__img">
                  <span class="icon-container">
                    <svg class="icon icon--primary">
                      <use xlink:href="images/sprite.svg#line"></use>
                    </svg>
                  </span>
                </div>
                <div class="media__content">
                  <h3 class="media__title">Jhone Lumeo</h3>
                  <p class="media__description">X company ceo</p>
                </div>
              </article>
            </footer>
          </blockquote>
        </div>
      </div>
    </article>
  </div>
</section>
