<section class="block container block--plan">
  <div class="grid grid--col-3">
    <div class="plan">
      <article class="card card--secondary">
        <header class="crad__header">
          <h3 class="plan__title">Business Plus</h3>
          <span class="plan__price">$54 </span>
          <span class="plan__billing-cycle">/month</span>
          <span class="badge badge--secondary badge--small">10% off</span>
          <span class="plan__discription">Easy start the cloud</span>
        </header>
        <div class="card__body">
          <ul class="list list--tick">
            <li class="list__item">Unlimited Websites</li>
            <li class="list__item">Unlimited Bandwidth</li>
            <li class="list__item">100 GB SSD Storage</li>
            <li class="list__item">3 GB RAM</li>
          </ul>
          <button class="btn btn--outline btn--block">Buy Now</button>
        </div>
      </article>
    </div>
    <div class="plan plan--popular">
      <article class="card card--primary">
        <header class="crad__header">
          <h3 class="plan__title">Business Plus</h3>
          <span class="plan__price">$54 </span>
          <span class="plan__billing-cycle">/month</span>
          <span class="badge badge--primary badge--small">10% off</span>
          <span class="plan__discription">Easy start the cloud</span>
        </header>
        <div class="card__body">
          <ul class="list list--tick">
            <li class="list__item">Unlimited Websites</li>
            <li class="list__item">Unlimited Bandwidth</li>
            <li class="list__item">100 GB SSD Storage</li>
            <li class="list__item">3 GB RAM</li>
          </ul>
          <button class="btn btn--outline btn--block">Buy Now</button>
        </div>
      </article>
    </div>
    <div class="plan">
      <article class="card card--secondary">
        <header class="crad__header">
          <h3 class="plan__title">Business Plus</h3>
          <span class="plan__price">$54 </span>
          <span class="plan__billing-cycle">/month</span>
          <span class="badge badge--secondary badge--small">10% off</span>
          <span class="plan__discription">Easy start the cloud</span>
        </header>
        <div class="card__body">
          <ul class="list list--tick">
            <li class="list__item">Unlimited Websites</li>
            <li class="list__item">Unlimited Bandwidth</li>
            <li class="list__item">100 GB SSD Storage</li>
            <li class="list__item">3 GB RAM</li>
          </ul>
          <button class="btn btn--outline btn--block">Buy Now</button>
        </div>
      </article>
    </div>
  </div>
</section>
