<div class="callout callout--primary">
  <div class="grid grid--col-2">
    <div class="callout__content">
      <h2 class="callout__title">Ready to get Started ?</h2>
      <p class="callout__description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis eos
        harum dicta est placeat deleniti aliquam blanditiis corrupti minima? A
        magni laborum ipsa porro ut accusantium exercitationem aspernatur ad
        deserunt!
      </p>
    </div>
    <a href="#" class="btn btn--secondary btn--long">Get Started</a>
  </div>
</div>
