<footer class="block block--dark">
  <div class="callout callout--primary">
    <div class="grid grid--col-2">
      <div class="callout__content">
        <h2 class="callout__title">Ready to get Started ?</h2>
        <p class="callout__description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
          eos harum dicta est placeat deleniti aliquam blanditiis corrupti
          minima? A magni
        </p>
      </div>
      <a href="#" class="btn btn--secondary btn--long">Get Started</a>
    </div>
  </div>
  <div class="container footer__content">
    <section class="collapsible">
      <header class="collapsible__header">
        <h2 class="collapsible__heading">PRODUCTS</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li class="collapsible__item"><a href="#">WordPress Hosting</a></li>
          <li class="collapsible__item"><a href="#">Free Automated WordPress</a></li>
          <li class="collapsible__item"><a href="#">Migrations</a></li>
          <li class="collapsible__item"><a href="#">Domain Names</a></li>
          <li class="collapsible__item"><a href="#">Monthly Web Hosting</a></li>
        </ul>
      </div>
    </section>

    <section class="collapsible">
      <header class="collapsible__header">
        <h2 class="collapsible__heading">COMPANY</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li class="collapsible__item"><a href="#">About</a></li>
          <li class="collapsible__item"><a href="#">Affiliates</a></li>
          <li class="collapsible__item"><a href="#">Blog</a></li>
          <li class="collapsible__item"><a href="#">Careers</a></li>
          <li class="collapsible__item"><a href="#">Community</a></li>
          <li class="collapsible__item"><a href="#">News</a></li>
          <li class="collapsible__item">
            <a href="#">Green Hosting</a></li>
          </li>
        </ul>
      </div>
    </section>

    <section class="collapsible">
      <header class="collapsible__header">
        <h2 class="collapsible__heading">SUPPORT</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li class="collapsible__item">
            <a href="#">WordPress Hosting</a>
          </li>
          <li class="collapsible__item">
            <a href="#">Free Automated WordPress</a>
          </li>
          <li class="collapsible__item"><a href="#">Migrations</a></li>
          <li class="collapsible__item"><a href="#">Domain Names</a></li>
          <li class="collapsible__item">
            <a href="#">Monthly Web Hosting</a>
          </li>
        </ul>
      </div>
    </section>

    <section class="collapsible">
      <header class="collapsible__header">
        <h2 class="collapsible__heading">DOMAINS</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li class="collapsible__item">
            <a href="#">WordPress Hosting</a>
          </li>
          <li class="collapsible__item">
            <a href="#">Free Automated WordPress</a>
          </li>
          <li class="collapsible__item"><a href="#">Migrations</a></li>
          <li class="collapsible__item"><a href="#">Domain Names</a></li>
          <li class="collapsible__item">
            <a href="#">Monthly Web Hosting</a>
          </li>
        </ul>
      </div>
    </section>

    <section class="footer__brand">
      <img src="images/logo.svg" alt="" />
      <p class="footer__copyright">Copyright 2023</p>
    </section>
  </div>
</footer>