<section class="hero block block--dark block--skewed-left">
  <div class="container grid grid--col-2">
    <header class="block__header hero__content">
      <h2 class="block__heading">Cloud Hosting for Pros</h2>
      <p class="hero__tagline">Deploy your websites in less than 60 seconds.</p>
      <a href="" class="btn btn--accent btn--long hero__btn">Get Started</a>
    </header>

    <img src="/images/banner.png" alt="" class="hero__img" />
  </div>
</section>
<script src="/js/script.js"></script>
