<section class="block block--dark block--skewed-right block--showcase">
  <div class="container">
    <header class="block__header">
      <h2 class="block__heading">User-Friendly Control Panel</h2>
    </header>
    <div class="showcase__content grid grid--col-2">
      <picture class="showcase__image">
        <source
          type="images/webp"
          srcset="/images/ipad.webp 1x, /images/ipad@2x.webp 2x"
        />
        <source
          type="images/png"
          srcset="/images/ipad.png 1x, /images/ipad@2x.png 2x"
        />
        <img src="/images/ipad.png" alt="" />
      </picture>
      <div class="showcase__medias">
        <article class="media">
          <div class="media__img">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#snap"></use>
            </svg>
          </div>
          <div class="media__content">
            <h3 class="media__title">Easy Start & Managed Updates</h3>
            <p class="media__description">
              Our cloud sites include easy onboarding for new and existing sites
              and managed WordPress and WooCommerce auto-updates .
            </p>
          </div>
        </article>
        <article class="media">
          <div class="media__img">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#growth"></use>
            </svg>
          </div>
          <div class="media__content">
            <h3 class="media__title">Easy Start & Managed Updates</h3>
            <p class="media__description">
              Our cloud sites include easy onboarding for new and existing sites
              and managed WordPress and WooCommerce auto-updates .
            </p>
          </div>
        </article>
        <article class="media">
          <div class="media__img">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#wordpress"></use>
            </svg>
          </div>
          <div class="media__content">
            <h3 class="media__title">Easy Start & Managed Updates</h3>
            <p class="media__description">
              Our cloud sites include easy onboarding for new and existing sites
              and managed WordPress and WooCommerce auto-updates .
            </p>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
